apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  labels:
    app: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api-container
        image: danielzemtsovski/api:v1
        ports:
        - containerPort: 8010
        env:
        - name: DB_HOST
          value: mysql-service
        - name: DB_USER
          value: myuser
        - name: DB_PASSWORD
          value: mypassword
        - name: DB_NAME
          value: myd